ENVIRONMENT=development

DATABASE_URL=mongodb+srv://<username>:<password>@<cluster>.mongodb.net/<database>?retryWrites=true&w=majority&appName=<appName>

JWT_SECRET=<your_jwt_secret>
JWT_EXPIRES_IN=3d
REFRESH_TOKEN_SECRET=<your_refresh_token_secret>
REFRESH_TOKEN_EXPIRES_IN=7d